img.avatar {
    height: 50px;
    width: 50px;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 700px;
    text-align: center;
}

form input {
    margin-bottom: 10px;
}

#edit-user,
#add-user {
    display: none;
}
#serchByName{
    width: 50%;
    margin: 10px;
}